# Mailcow oAuth2 & API
MAILCOW_DOMAIN=my.mailcow.com
MAILCOW_CLIENT_ID=xxxxxxxxxxxx
MAILCOW_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
MAILCOW_API_KEY=XXXXXX-XXXXXX-XXXXXX-XXXXXX-XXXXXX

# Logs request limit
POSTFIX_COUNT=1000
RSPAMD_COUNT=100

# Local Database
DB_HOST=mysql
DB_DATABASE=mailcowstatus
DB_USER=status
DB_PASSWORD=USE_A_STR0NG_P@SSW0RD

# App Users
ADMIN=admin@mycorp.com,support@mycorp.com
DOMAIN_ADMIN_PREFIX=postmaster

# Delete log entries after X days
RETENTION=30

# a key parameter to secure the /cron endpoint
CRON_KEY=USE_A_STR0NG_K3Y

# Customization
LOGO_DARK="https://mailcow.email/images/cow_mailcow.svg"
LOGO_LIGHT="https://mailcow.email/images/cow_mailcow.svg"
FOOTER_COMPANY="My Company"
FOOTER_COMPANY_URL=https://support.mycompany.com